h1, h2, h3, h4, h5{
    font-family: 'Archivo', sans-serif;
}
*{
    font-family: 'Chivo', sans-serif;
}
:root{
    --aquamarine: #85FFC4;
    --crayola: #C2D2EA;
    --lightblue: #99DFFF;
    --blue: #4578ED;
}
body{
    background-color: whitesmoke;
}
/* navbar */
.navbar-back{
    background: linear-gradient(90deg, rgba(151,202,239,1) 5%, rgba(63,238,230,1) 51%, rgba(85,188,201,1) 95%);
    
    
}
.nav-link{
    color: black;
    font-size: large;
    font-weight: 600;
    text-decoration: underline;
}
.navbar-brand{
    color: var(--blue);
    font-size: 30px;
    font-style: italic;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px white;
}
.navbar{
    box-shadow: 2px 2px 8px black;
}

/* header */
.header{
    height: 100vh;
    background-image: url(./media/SanoDent-logos_transparent.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
/* section cards e go-to */
.go-to-back{
    height: 60vh;
    background-image: url(./media/strano.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.card-header{
    width: 25%;
    min-height: 400px;
    box-shadow: 4px 4px 8px var(--blue);
    background-color: var(--aquamarine);
}
.card-title{
    font-size: 60px;
    margin-top: 30px;
    font-style: italic;
}
.card-p{
    text-align: center;
}
.div-butt{
    height: 20vh;
}
/* section dentista chi siamo */
.margin-custom{
    margin-top: 100px;
}
.dent-img{
    height: 600px;
}
.dent-title{
    color: var(--blue);
    font-size: 30px;
    font-style: italic;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px var(--lightblue);
}
.div-dent{
    width: 70%;
}
.btn-custom{
    border: 2px solid black;
    background: linear-gradient(90deg, rgba(151,202,239,1) 5%, rgba(63,238,230,1) 51%, rgba(85,188,201,1) 95%);
    font-size: 30px;
    padding: 10px 50px;
    box-shadow: 2px 2px 4px black;
}
.dent-a{
    text-decoration: none;
    color: var(--blue);
    text-shadow: 1px 1px 2px black;
}

/* chisiamo */

.card-dent{
    box-shadow: 2px 2px 4px black;
}
.dentist-title{
    border-bottom: 2px solid var(--blue);
}

.custom-w{
    width: 40%;
}

/* sevizi */
.btn-service{
    text-decoration: none;
    border: 1px solid var(--aquamarine);
    background: linear-gradient(90deg, rgba(151,202,239,1) 5%, rgba(63,238,230,1) 51%, rgba(85,188,201,1) 95%);
    box-shadow: 2px 2px 4px black;
}

/* dettaglio */
.dettaglio{
    background-image: url(./media/strano.png);
    height: 100vh;
    background-image: url(./media/strano.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* form */
.form-h{
    height: 70vh;
}